<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ARENA</title>
</head>
<body>
<h1>ARENA</h1>

<!-- Lista de Todos os Adversários -->
<div id="listaAdversarios">
    <h2>Lista de todos os Adversários!</h2>
    <ul>
        <li th:each="adversario : ${adversarios}">
            <strong th:text="${adversario.nome}"></strong> -
            Nível: <span th:text="${adversario.nivel}"></span> -
            Arma: <span th:text="${adversario.arma}"></span>
        </li>
    </ul>
</div>

<!-- Info do Personagem -->
<div>
    <label>Personagem:</label>
    <input type="hidden" th:value="${personagem}" name="personagem">
    <input type="text" th:value="${personagem.nome}" readonly>
    <input type="text" th:value="${personagem.progresso}" readonly>
    <!--<input type="text" th:value="${personagem.nivel}">-->
</div>

<!-- Próximo Adversário -->
<div id="proximoAdversario" th:if="${proximoAdversario != null}">
    <h2>Próximo Adversário</h2>
    <input type="hidden" th:value="${proximoAdversario}" name="adversario">
    <p><strong th:text="${proximoAdversario.nome}"></strong></p>
    <p>Categoria Principal: <span th:text="${proximoAdversario.categoriaPrincipal}"></span></p>
    <p>Categoria Secundária: <span th:text="${proximoAdversario.categoriaSecundaria}"></span></p>
    <p>Nível: <span th:text="${proximoAdversario.nivel}"></span></p>
    <p>Arma: <span th:text="${proximoAdversario.arma}"></span></p>

    <form action="/combate" method="post">
        <input type="hidden" name="personagem" th:value="${personagem.id}" />
        <input type="hidden" name="adversario" th:value="${proximoAdversario.id}"/>
        <button type="submit">Combate</button>
    </form>
    <br>
    <form method="post" action="/vila">
        <input type="hidden" name="tipoBusca" value="selecao" />
        <input type="hidden" name="personagemSelecionado" th:value="${personagem.id}" />
        <button type="submit"> Voltar para a Vila </button>
    </form>
</div>
</body>
</html>
