<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Missão </title>
    <link rel="stylesheet" href="/static/missao.css">
</head>
<body>
<h1> Missão </h1>
<div>
    <label> Personagem </label>
    <input type="hidden" th:value="${personagem}" name="personagem">
    <input type="text" th:value="${personagem.nome}" readonly>
    <input type="text" th:value="${personagem.progresso}" readonly>
    <input type="text" th:value="${personagem.armaEquipada}">
</div>

<div id="missaoEscolhida">
    <h2> Missão </h2>
    <input type="hidden" th:value="${missao}" name="adversario">
    <p><strong th:text="${missao.nome}"></strong></p>
    <p><strong th:text="${missao.descricao}"></strong></p>
</div>

<!-- Barra de Progresso -->
<div id="progressoContainer">
    <div id="barraProgresso">0%</div>
</div>

<br>
<form method="post" action="/taberna">
    <input type="hidden" name="personagemIdTaberna" th:value="${personagem.id}" />
    <button type="submit"> Voltar para a Taberna </button>
</form>

<script src="/static/simulacaoMissao.js"></script>

<h2>Resultado do Combate</h2>

<p th:value="${combate.first}" id="primeiroAtacante"></p>
<p th:value="${combate.second}" id="vencedor"></p>

<div id="simulacaoCombate"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    const combateLogData = [[${logBatalha}]];
    console.log("CombateLog carregado:", combateLogData);
    /*]]>*/
</script>

</body>
</html>
