<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8" />
    <title>Missão</title>
    <link rel="stylesheet" href="/static/comecarMissao.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&family=MedievalSharp&display=swap" rel="stylesheet" />
</head>
<body>

<h1>Missão</h1>

<h1 th:text="${missao.nome}">Nome da Missão</h1>
<p th:text="${missao.descricao}" style="max-width: 600px; margin-bottom: 25px; font-family: 'MedievalSharp', cursive; color: #d9b382; text-shadow: 1px 1px 1px #000;">
</p>

<div id="progressoContainer">
    <h2>Progresso</h2>
    <div id="barraContainer">
        <div id="barraProgresso">0%</div>
    </div>
</div>

<div id="simulacaoCombate"></div>

<input type="hidden" name="personagemIdTaberna" th:value="${personagem.id}" />

<!-- Passar dados do backend para JS -->
<script th:inline="javascript">
    /*<![CDATA[*/
    const combateLogData = [[${logBatalha}]];
    const primeiroAtacante = '[[${primeiroAtacante}]]';
    const vencedor = '[[${vencedor}]]';
    const duracao = '[[${duracao}]]';
    /*]]>*/
</script>

<script src="/static/simulacaoMissao.js"></script>

</body>
</html>
