<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Criar Personagem</title>
</head>
<body>
<form method="post" action="/vila">
  <input type="text" name="id_Utilizador" th:value="${utilizador.id}" />
  <div>
    <label for="nome_personagem">Nome da Personagem:</label>
    <input type="text" name="nome_personagem" id="nome_personagem" />
  </div>
  <br>
  <div>
    <label for="categoria_principal">Categoria Secundária:</label>
    <select name="categoria_principal" id="categoria_principal">
      <option>Guerreiro</option>
      <option>Arqueiro</option>
      <option>Mago</option>
    </select>
  </div>
  <br>
  <div>
    <label for="categoria_secundaria">Categoria Secundária:</label>
    <select name="categoria_secundaria" id="categoria_secundaria">
      <option>Ferreiro</option>
      <option>Caçador</option>
      <option>Pescador</option>
      <option>Agricultor</option>
    </select>
  </div>
  <br>
  <input type="submit" value="Criar Personagem" />
</form>
</body>
</html>
