<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Criar Utilizador</title>
</head>
<body>
<h1>Criação de Conta de Utilizador!</h1>
<form method="post" action="/criarUtilizador">
    <div>
        <label for="nomeUtilizador">Username: </label>
        <input type="text" name="nomeUtilizador" id="nomeUtilizador" />
    </div>
    <br>
    <div>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" />
    </div>
    <br>
    <div>
        <label for="idade">Idade: </label>
        <input type="text" name="idade" id="idade" />
    </div>
    <br>
    <input type="submit" value="Criar Utilizador" />
    <br>
    <button onClick="window.location.href='/usersMenu'">Voltar ao Menu</button>
</form>
</body>
</html>
