<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Criar Utilizador</title>
    <link rel="stylesheet" href="/static/criarUtilizador.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&family=MedievalSharp&display=swap" rel="stylesheet">
</head>
<body>
<h1>Criação de Conta</h1>
<form method="post" action="/criarUtilizador">
    <div>
        <label for="nomeUtilizador">Username: </label>
        <input type="text" name="nomeUtilizador" id="nomeUtilizador" />
    </div>
    <br>
    <div>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" />
    </div>
    <br>
    <div>
        <label for="idade">Idade: </label>
        <input type="text" name="idade" id="idade" />
    </div>
    <br>
    <input type="submit" value="Criar Utilizador" />
    <br>
    <button onClick="window.location.href='/usersMenu'">Voltar ao Menu</button>
</form>
</body>
</html>
