<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bem-vindo Administrador</title>
</head>
<body>
    <h1>Bem-vindo Administrador!</h1>

    <button onClick = "window.location.href='/menu'">Voltar ao Menu!</button>
    <button onClick ="window.location.href='/paginaAdminAdversarios'"> ADVERSÁRIOS </button>
    <button onClick ="window.location.href='/paginaAdminMissao'"> MISSÕES </button>
    <button onClick ="window.location.href='/paginaAdminArma'"> ARMAS </button>
    <button onClick ="window.location.href='/paginaAdminLoja'"> INVENTÁRIO LOJA </button>
</body>
</html>