<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bem-vindo Administrador</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&family=MedievalSharp&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Bem-vindo Administrador!</h1>

    <button onClick = "window.location.href='/menu'">Voltar ao Menu!</button>
    <button onClick ="window.location.href='/paginaAdminAdversarios'"> ADVERSÁRIOS </button>
    <button onClick ="window.location.href='/paginaAdminMissao'"> MISSÕES </button>
    <button onClick ="window.location.href='/paginaAdminArma'"> ARMAS </button>
    <button onClick ="window.location.href='/paginaAdminLoja'"> INVENTÁRIO LOJA </button>
</body>
</html>