<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simulador POO</title>
    <link rel="stylesheet" href="/static/paginaInicial.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&family=MedievalSharp&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Simulador POO</h1>
    <button onclick="window.location.href='/usersMenu'">Iniciar!</button>
</div>
</body>
</html>
