<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loja</title>
    <link rel="stylesheet" href="/static/loja.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&family=MedievalSharp&display=swap" rel="stylesheet">
</head>
<body>
<h1>Loja</h1>

<!-- Informação relacionada com a personagem -->
<div id="personagemInfo">
    <h2>Informação da personagem!</h2>
    <ul>
        <li>
            <strong th:text="'Nome: ' + ${personagem.nome}"></strong>
            Nível: <span th:text="${personagem.nivel}"></span>
            Coins: <span th:text="${personagem.coins}"></span>
            Inventário:
            <ul>
                <li th:each="arma, iterStat : ${inventarioPersonagem}">
                    <strong th:text="${inventarioPersonagemNomes[iterStat.index]}">Nome</strong>
                    <form method="post" action="/venderArma">
                        <input type="hidden" name="personagemId" th:value="${personagem.id}" />
                        <input type="hidden" name="armaId" th:value="${arma}" />
                        <button type="submit">Vender</button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</div>

<!-- Lista de Todos as Armas na Loja -->

<div id="sockDeArmas">
    <h2>Lista de Armas na Loja!</h2>
    <ul>
        <li th:each="arma : ${armasDisponiveis}">
            <strong th:text="${arma.nome}"></strong>
            - Preço: <span th:text="${arma.preco}"></span> Coins
            - Dano: <span th:text="${arma.dano}"></span>
            - Tipo: <span th:text="${arma.tipo}"></span>

            <form method="post" action="/comprarArma">
                <input type="hidden" name="personagemId" th:value="${personagem.id}" />
                <input type="hidden" name="armaId" th:value="${arma.id}" />
                <button type="submit"> Comprar </button>
            </form>
            <br>
        </li>
    </ul>
    <form method="post" action="/vila">
        <input type="hidden" name="tipoBusca" value="selecao" />
        <input type="hidden" name="personagemSelecionado" th:value="${personagem.id}" />
        <button type="submit"> Voltar para a Vila </button>
    </form>
</div>

</body>
</html>