<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loja</title>
</head>
<body>
<h1>Loja</h1>

<div id="personagemInfo">
    <h2>Informação da personagem!</h2>
    <ul>
        <li>
            <strong th:text="'Nome: ' + ${personagem.nome}"></strong>
            Nível: <span th:text="${personagem.nivel}"></span>
            Coins: <span th:text="${personagem.coins}"></span>
            Inventário: <span th:text="${personagem.inventario}"></span>
        </li>
    </ul>
</div>

<!-- Lista de Todos as Armas na Loja -->
<div id="sockDeArmas">
    <h2>Lista de Armas na Loja!</h2>
    <ul>
        <li th:each="arma : ${armasDisponiveis}">
            <strong th:text="${arma.nome}"></strong>
            - Preço: <span th:text="${arma.preco}"></span> Coins
            - Dano: <span th:text="${arma.dano}"></span>
            - Tipo: <span th:text="${arma.tipo}"></span>
        </li>
    </ul>
</div>

</body>
</html>