<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="/static/menu.css">
    <input type="hidden" name="id_Utilizador" th:value="${utilizador.id}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&family=MedievalSharp&display=swap" rel="stylesheet">
</head>

<body>
<div>
    <h1>Menu</h1>
    <ul>
        <form method="post" action="/criar_personagem">
            <input type="hidden" name="id_Utilizador" th:value="${utilizador.id}" />
            <button type="submit">Criar personagem</button>
        </form>
        <form method="post" action="/selecionarPersonagem">
            <input type="hidden" name="id_Utilizador_select" th:value="${utilizador.id}" />
            <button type="submit">Selecionar Personagem</button>
        </form>
        <button onClick="window.location.href='/sair'">Sair</button>
    </ul>
</div>
</body>
</html>