<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&family=MedievalSharp&display=swap" rel="stylesheet">
    <title>Adicionar Missao</title>
</head>
<body>
<form method="post" action="/paginaAdminMissao">
    <div>
        <label for="nome_missao">Nome da Missao:</label>
        <input type="text" name="nome_missao" id="nome_missao" />
    </div>
    <br>
    <div>
        <label for="exp_missao">Experiência a dar pela Missão:</label>
        <input type="number" name="exp_missao" id="exp_missao" />
    </div>
    <br>
    <div>
        <label for="recompensa_coins">Coins a dar pela Missão:</label>
        <input type="number" name="recompensa_coins" id="recompensa_coins" />
    </div>
    <br>
    <div>
        <label for="nivelPersonagem">Nivel Personagem necessário:</label>
        <input name="nivelPersonagem" id="nivelPersonagem"/>
    </div>
    <br>
    <div>
        <label for="adversario_missao">Id do Adversário:</label>
        <input name="adversario_missao" id="adversario_missao">
    </div>
    <br>
    <div>
        <label for="descricaoMissao"> Descrição da Missão:</label>
        <input name="descricaoMissao" id="descricaoMissao">
    </div>
    <br>
    <div>
        <label for="duracaoMissao">Duração da Missão: </label>
        <input name="duracaoMissao" id="duracaoMissao">
    </div>
    <br>
    <input type="submit" value="Criar Missão" />
</form>
</body>
</html>
