<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/static/perfilPersonagem.css">
<head>
    <meta charset="UTF-8">
    <title>Perfil do Personagem</title>
</head>
<body>
<div class="container">
    <h1 th:text="'Perfil de ' + ${personagem.nome}"></h1>

    <h2>Informações do Personagem</h2>
    <ul>
        <li><strong>Nome:</strong> <span th:text="${personagem.nome}"></span></li>
        <li><strong>Categoria Principal:</strong> <span th:text="${personagem.categoriaPrincipal}"></span></li>
        <li><strong>Categoria Secundaria:</strong> <span th:text="${personagem.categoriaSecundaria}"></span></li>
        <li><strong>Nível:</strong> <span th:text="${personagem.nivel}"></span></li>
        <li><strong>Arma Equipada:</strong> <span th:text="${nomeArma}"></span></li>
        <li><strong>Coins:</strong> <span th:text="${personagem.coins}"></span></li>
        <li><strong>Progresso Adversários:</strong> <span th:text="${personagem.progresso}"></span></li>
    </ul>

    <br>
    <h2>Inventário</h2>
    <!-- Mensagem de erro geral (fora do loop) -->
    <div th:if="${erro}" style="color: red; font-weight: bold; margin-bottom: 10px;">
        <p th:text="${erro}"></p>
    </div>

    <!-- Lista de armas, se houver -->
    <div th:if="${inventarioNomes != null and !inventarioNomes.isEmpty()}">
        <div th:each="arma, iterStat : ${inventarioNomes}">
            <div class="inventario-item">
                <span th:text="${arma}">Nome da Arma</span>
                <div class="btInventario">
                    <form method="post" action="/equiparArma">
                        <input type="hidden" name="personagem_ID" th:value="${personagem.id}" />
                        <input type="hidden" name="arma_ID" th:value="${inventarioID[iterStat.index]}" />
                        <button type="submit">Equipar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Mensagem se inventário estiver vazio -->
    <div th:if="${inventarioNomes == null or inventarioNomes.isEmpty()}">
        <p>O inventário está vazio.</p>
    </div>

    <br>
    <div class="btActions">
        <form method="post" action="/vila">
            <input type="hidden" name="tipoBusca" value="selecao" />
            <input type="hidden" name="personagemSelecionado" th:value="${personagem.id}" />
            <button type="submit"> Voltar para a Vila </button>
        </form>
    </div>
</body>
</html>
