<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selecionar Personagem</title>
    <link rel="stylesheet" href="/static/selecionarPersonagem.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&family=MedievalSharp&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Selecione a personagem que deseja jogar:</h1>
    <form method="post" action="/vila">
        <input type="hidden" name="tipoBusca" value="selecao"/>
        <select name="personagemSelecionado">
            <option th:each="personagem : ${personagensUtilizador}"
                    th:value="${personagem.id}"
                    th:text="${personagem.nome}">Personagem</option>
        </select>
        <input type="submit" value="Jogar" />
    </form>
    <button onClick="window.location.href='/menu'">Voltar ao menu</button>
</body>
</html>