<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selecionar Personagem</title>
</head>
<body>
    <h1>Selecione a personagem que deseja jogar:</h1>
    <form method="post" action="/vila">
        <input type="hidden" name="tipoBusca" value="selecao"/>
        <select name="personagemSelecionado">
            <option th:each="personagem : ${personagensUtilizador}"
                    th:value="${personagem.id}"
                    th:text="${personagem.nome}">Personagem</option>
        </select>
        <input type="submit" value="Jogar" />
    </form>
    <button onClick="window.location.href='/menu'">Voltar ao menu</button>
</body>
</html>