<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selecionar Personagem</title>
</head>
<body>
    <h1>Selecione a personagem que deseja jogar:</h1>
    <form method="post" action="/jogar">
        <select name="personagem" id="personagem">
            <option th:each="personagem : ${personagens}" th:value="${personagem.id}" th:text="${personagem.nome}"></option>
        </select>
        <input type="submit" value="Jogar" />
    </form>
    <button onClick="window.location.href='/menu'">Voltar ao menu</button>
</body>
</html>