<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu de Utilizadores</title>
    <link rel="stylesheet" href="/static/usersMenu.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&family=MedievalSharp&display=swap" rel="stylesheet">
</head>

<body>
<div>
    <h1>Menu</h1>
    <div th:if="${erro}" style="color: red; font-weight: bold; margin-bottom: 10px;">
        <p th:text="${erro}"></p>
    </div>
    <form method="post" action="/usersMenu">
        <div>
            <label for="nome_utilizador">Username: </label>
            <input type="text" name="nome_utilizador" id="nome_utilizador" />
        </div>
        <br>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" />
        </div>
        <br>
        <br>
        <input type="submit" value="Iniciar Sessão" />
    </form>
    <br>
    <button onClick="window.location.href='/criarUtilizador'">Criar Conta de Utilizador</button>
</div>
</body>
</html>