<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Personagem Criado</title>
    </head>
    <body>
        <h1>VILA</h1>

        <button onClick = "window.location.href='/menu'">Voltar ao Menu!</button>
        <form action="/arena" method="post">
            <input type="hidden" name="personagemId" th:value="${personagem.id}" />
            <button type="submit">Ir para Arena</button>
        </form>

        <form action="/loja" method="post">
            <input type="hidden" name="personagemIdLoja" th:value="${personagem.id}" />
            <input type="hidden" name="personagemInventario" th:value="${personagem.armaEquipada}" />
            <input type="hidden" name="stockArmas" th:value="${armasDisponiveis}" />
            <button type="submit">Ir para Loja</button>
        </form>

<!--        <button onClick ="window.location.href='/loja'"> LOJA  </button>-->
        <form action="/taberna" method="post">
            <input type="hidden" name="personagemIdTaberna" th:value="${personagem.id}" />
            <button type="submit"> Ir para Taberna </button>
        </form>

        <form action="/perfilPersonagem" method="post">
            <input type="hidden" name="personagem_ID" th:value="${personagem.id}" />
            <button type="submit"> Perfil do Personagem </button>
        </form>

    </body>
</html>
